@use "./../_base.scss" as *;
@use "./../_layout.scss" as *;
@use "./../_component.scss" as *;

// header

.body-form {
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0px 1px 4px grey;
}

form {
    background-color: #fff;
    height: auto;
    width: 100%;
}

fieldset {
    width: 100%;
    
    h3 {
        @include mini-heading;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    legend {
        text-align: center;
    }
    
}

.step {
    width: auto;
    max-width: 100%;
    padding: 1rem;
    @include thin-bottom-border;
}

.form-header {
    @include flex-column;
    padding: 0.5rem 0;
    position: relative;
    background-color: $yellow;

    .header-wrapper-top {
        @include flex-row;
        justify-content: space-between;
        padding: 0 1rem;

        #toggle-options {
            @include main-text;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: 600;
            padding: 0.5rem;
            border: 0;
            background-color: transparent;
        }

    }

    #options-menu {
        @include main-text;
        @include flex-column;
        text-align: center;
        line-height: 1.8;
        display: none;
        height: 100%;
        width: 100%;
        padding: 1rem 0 0;
    }
    
    .header-wrapper-bottom {
        @include flex-column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;

        h1 {
            @include main-text;
            font-weight: 600;
            margin: 0;
        }

        h2 {
            @include lead;
            font-size: 1.2rem;
        }
    }
}

// subscription steps

.subscription-bar {
    @include flex-column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 4rem;
    background-color: $light-grey;
}

.subscription-steps {
    @include flex-row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 0.3rem;
}

.li-step {
    @include mini-heading;
    @include lead;
    font-weight: 600;
    color: $blue;

    a {
        color: $blue;
    }
}

.big-bar {
    @include bar;

    width: 90%;
    background-color: $bar-grey;
}

.small-bar {
    @include bar;
    background-color: $blue;
    width: 50%;
    z-index: 3;
}

.optional {
    @include thin-bottom-border;
    @include main-text;
    @include flex-column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem 0;
    height: 5rem;
}

.checkbox-custom {
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 50%;
    margin-right: 0.7rem;
    position: relative;
}

#gift {
    opacity: 0;
    width: 0;
    height: 0;
}  

.fa-gift {
    margin-left: 0.5rem;
}

// step 1: location

.labels-wrapper {
    @include flex-column;
    justify-content: center;

    @media screen and (min-width: 400px){
        @include flex-row;
    }
}

.market {
    @include main-text;
    font-weight: 600;
    margin: 0.5rem;
    width: 90%;

    @media screen and (min-width: 600px){
        width: 16rem;
    }
}

#US,
#international {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.deliver-to {
    width: 97%;
    height: auto;
    margin: 2rem auto 1rem;
    @include main-text;
    @include flex-column;

    span {
        display: block;
        margin-bottom: 1rem;
    }

    #deliver-to-country {
        width: 100%;
        padding: 1rem;
        border: 1px solid grey;
    }
    
    @media screen and (min-width: 600px){
        width: 33rem;
    }
}