@use "./../_base.scss" as *;
@use "./../_layout.scss" as *;
@use "./../_component.scss" as *;

// header

.body-form {
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0px 1px 4px grey;
}

form {
    background-color: #fff;
    height: auto;
    width: 100%;
}

fieldset {
    width: 100%;
    padding: 0;
    margin: 0;
}

.step {
    width: auto;
    // max-width: 100%;
    padding: 2rem 0;
    @include thin-bottom-border;
    
    h3 {
        @include mini-heading;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    
    legend {
        text-align: center;
    }
}

.form-header {
    @include flex-column;
    padding: 0.5rem 0;
    position: relative;
    background-color: $yellow;

    .header-wrapper-top {
        @include flex-row;
        justify-content: space-between;
        padding: 0 1rem;

        #toggle-options {
            @include main-text;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: 600;
            padding: 0.5rem;
            border: 0;
            background-color: transparent;
        }

    }

    #options-menu {
        @include main-text;
        @include flex-column;
        text-align: center;
        line-height: 1.8;
        display: none;
        height: 100%;
        width: 100%;
        padding: 1rem 0 0;
    }
    
    .header-wrapper-bottom {
        @include flex-column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;

        h1 {
            @include main-text;
            font-weight: 600;
            margin: 0;
        }

        h2 {
            @include lead;
            font-size: 1.2rem;
        }
    }
}

// subscription steps

.subscription-bar {
    @include flex-column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 4rem;
    background-color: $light-grey;
}

.subscription-steps {
    @include flex-row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 0.3rem;
}

.li-step {
    @include mini-heading;
    @include lead;
    font-weight: 600;
    color: $blue;

    a {
        color: $blue;
    }
}

.big-bar {
    @include bar;

    width: 90%;
    background-color: $bar-grey;
}

.small-bar {
    @include bar;
    background-color: $blue;
    width: 50%;
    z-index: 3;
}

.optional {
    @include thin-bottom-border;
    @include main-text;
    @include flex-column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem 0;
    height: 5rem;
}

.checkbox-custom {
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 50%;
    margin-right: 0.7rem;
    position: relative;
}

#gift {
    opacity: 0;
    width: 0;
    height: 0;
}  

.fa-gift {
    margin-left: 0.5rem;
}

// step 1: location

.labels-wrapper {
    @include flex-column;
    justify-content: center;

    @media screen and (min-width: 400px){
        @include flex-row;
    }
}

.market {
    @include main-text;
    font-weight: 600;
    margin: 0.5rem;
    width: 90%;

    @media screen and (min-width: 600px){
        width: 16rem;
    }
}

#US,
#international {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.deliver-to {
    width: 97%;
    height: auto;
    margin: 2rem auto 1rem;
    display: none;
    flex-direction: column;
    @include main-text;

    span {
        display: block;
        margin-bottom: 1rem;
    }

    #deliver-to-country {
        width: 100%;
        padding: 1rem;
        border: 1px solid grey;
    }
    
    @media screen and (min-width: 600px){
        width: 33rem;
    }
}

// plan section

#plan {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 0.5rem;
        padding: 1rem 1.5rem;
    }
}

// payment section

.cancel {
    @include main-text;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.wrapper-payments {
    background-color: rgb(81, 187, 81);
    width: 90%;
    height: 30vh;
    margin: 0 auto;
    @include main-text;
    display: grid;
    grid: repeat(3, 1fr), repeat(3, 1fr);

    .wrapper-buttons {
        @include flex-row;
        justify-content: space-between;
    }

    .wrapper-payment-info {
        display: grid;
        grid: repeat(2, 1fr)/ repeat(3, 1fr); 
        grid-gap: 1rem;  

        .cc {
            width: 100%;
            padding: 0.5rem;
        }
        
        #label-cc {
            grid-area: 1/1/2/-1;
            #cc-number {
                width: 100%;
                background-color: red;
            }
        }

        #label-months {
            grid-area: 2/1/-1/2;
            #months {
                background-color: rgb(114, 179, 62);
            }
        }

        #label-years {
            grid-area: 2/2/-1/3;
            #years {
                background-color: rgb(27, 95, 84);
            }
        }

        #label-cvv {
            grid-area: 2/3/-1/-1;
            #cvv {
                background-color: rgb(65, 47, 47);
            }
        }
        
    }

    @media screen and (min-width: 600px) {
        max-width: 60%;
        padding: 4rem;
    }
}



// other payments

.other-payments {
    display: none;
}