@use "./../_base.scss" as *;
@use "./../_layout.scss" as *;
@use "./../_component.scss" as *;


body {
    background-color: $main-background;
}

.main-header {
    width: 100%;
    height: 7vh;
    padding: 0.5rem 1rem;
    box-shadow: 0px 3px 7px rgb(160, 159, 159);
    background-color: #fff;
    position: fixed;

    @include flex-row;
    justify-content: space-between;

    nav {
        @include flex-column;

        #toggle-menu {
            font-size: 1.5rem;
            color: grey;
            cursor: pointer;
        }

        .menu {
            width: 100%;
            height: 93vh;
            position: absolute;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            top: -100vh;
            left: 0;
            background-color: #fff;
            border-top: 1px solid $light-grey;
            transition-duration: 0.3s;
            z-index: -2;

            li {
                width: 100%;
                height: 100%;
                text-align: center;
                margin: auto 0;
                @include flex-column;
                @include mini-heading;
                @include lead;
                justify-content: center;

                a {
                    color: grey;
                }

                .icon {
                    font-size: 3rem;
                    padding: 1rem;
                }
            }
        }
    }

    .subscribe {
        @include subscribe-btn;
        @include mini-heading;
        @include lead;
        background-color:#12679B;
    }
    

}

.main-landing {
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    padding: 0 1rem;
    @include flex-column;
}

#subscription {
    width: 90%;
    padding: 1rem;
    margin: 5rem auto 1.3rem;
    @include red-to-white;
    @include flex-row;
    justify-content: space-between;
    @include main-text;
    line-height: 1.1;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
}

.subscribe-btn {
    @include subscribe-btn;
    @include mini-heading;
    @include lead;
    background-color: #000;
    border-radius: 0;
    padding: 0.8rem 2rem;
}

.container {
    width: 100%;
    box-shadow: 0px 1px 4px grey;
    padding: 1rem;
    @include flex-column;
    justify-content: space-between;
}

section {
    border: 1px solid $light-grey;
    border-top: 10px solid #000;
    margin-bottom: 2rem;
    background-color: #fff;
}

.big-article:first-of-type {
    border-top: 1px solid $light-grey;
}

.big-article {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 1rem;

    .img-big-article {
        @include image-setting;
        background-image: url("../../img/backgrounds/pic.jpg");
    }

    .text-wrapper {
        padding: 1rem 0 0;
    }

    @media screen and (min-width: 600px){
        grid-template-rows: 3fr 1fr;
    }

    @media screen and (min-width: 819px){
        grid-template-rows: 5fr 1fr;
    }
}

.small-article {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    padding: 1rem;

    h2 {
        font-size: 1rem;
    }

    .img-small-article {
        @include image-setting;
        background-image: url("../../img/backgrounds/pic.jpg");
    }
}

@media screen and (min-width: $small-screen) {

}