@use "base" as *;
@use "layout" as *;

@mixin subscribe-btn {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 3px;
}

@mixin bar {
    border-radius: 45px;
    height: 10px;
}

//Payment steps - before elements
.one {
    &::before {
        content: "1. ";
    }
}

.two {
    &::before {
        content: "2. ";
    }
}

.three {
    &::before {
        content: "3. ";
    }
}

.four {
    &::before {
        content: "4. ";
    }
}

.five {
    &::before {
        content: "5. ";
    }
}

// BUTTON

.switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    height: auto;
    min-width: 10rem;
    color: grey;

    &:hover {
        cursor: pointer;
        * {
            color: $blue;
        }
        .checkbox-custom {
            border-color: $blue !important;
        }
    }
}  

.switch-big {
    width: 12rem;
    padding: 1rem;
}

.rounded-border {
    border: 1px solid grey;
    border-radius: 10px;

    &:hover {
        border: 1px solid #057DBC;
    }
}

.pressed-button {
    border: 1px solid #057DBC;
    border-radius: 10px;
    background-color: rgba(160, 209, 255, 0.541);
    box-shadow: inset 2px 2px 5px #057DBC;
    color: #057DBC;
    border-color: #057DBC;
    
    div {
        border: 2px solid #057DBC !important;
    }
}

// plan-card

.card {
    max-width: 25rem;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid $bar-grey;
    padding: 2rem 0.8rem;
    @include main-text;
    @include flex-column;
    justify-content: space-between;
    position: relative;

    &:hover {
        cursor: pointer;
        border-color: $blue;

        .button {
            color: $blue;
            border-color: $blue;
        }
    }
    
    .popular {
        width: 100%;
        height: auto;
        color: #fff;
        text-transform: uppercase;
        background-color: $blue;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
    }

    .card-header {
    text-align: center;
        
        h5 {
            font-size: 1.2rem;
            margin: 0.5rem 0 1rem;
        }

        p {
            font-size: 1.3rem;
            font-weight: 600;
            position: relative;
            margin: 0.5rem 0 1rem;

            &::after {
                content: "+ sales tax";
                position: absolute;
                right: 40%;
                top: 1.5rem;
                font-size: 0.9rem;
                font-weight: 400;
            }
        }
    }

    .button {
        font-weight: 600;
        margin: 1.5rem 0;
    }

    input {
        opacity: 0;
        width: 0px;
        height: 0px;
    }

    .advantage {
        font-size: 0.9rem;
        position: relative;
        margin: 0rem 0 0.5rem 1rem;
        padding-left: 0.5rem;

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: -0.1rem;
            left: -0.8rem;
            background-image: url('../../img/check.svg');
            background-size: contain;
            background-repeat: no-repeat;
            height: 15px;
            width: 15px;
        }
    }

    img {
        display: block;
        width: 10rem;
        height: auto;
        margin: 1rem auto;
        border-radius: 10px;;
    }

}

.selected-card {
    background-color: $card-bkg;
    border-color: $blue;
}

// pay buttons

.pay-button {
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: grey;
    font-size: 0.7rem;
    font-weight: 600;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &:hover {
        cursor: pointer;
        * {
            color: $blue;
        }
    }
}

#submit {

    width: 90%;
    margin: 0 auto;
    @include main-text;

    #place-order {
        width: 100%;
        margin: 0 auto;
        padding: 1.5em;
        color: #fff;
        font-weight: 600;
        background-color: $blue;
        border: none;
        border-radius: 10px;

        &:hover {
            transform: scaleY(1.05);
            box-shadow: 1px 1px 3px grey;;
        }
    }

    .definition-after:after {
        content: "This transaction is secured with SSL encryption";
        position: absolute;
        bottom: -1.5rem;
        left: 15%;
        font-size: 0.7rem;
        color: grey;

        @media screen and (min-width: 600px) {
        left: 25%;
    }
    }

    @media screen and (min-width: 600px) {
        width: 35rem;
        padding: 0 4rem;
    }
}