@mixin subscribe-btn {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 3px;
}

@mixin bar {
    border-radius: 45px;
    height: 10px;
}

//Payment steps - before elements
.one {
    &::before {
        content: "1. ";
    }
}

.two {
    &::before {
        content: "2. ";
    }
}

.three {
    &::before {
        content: "3. ";
    }
}

.four {
    &::before {
        content: "4. ";
    }
}

.five {
    &::before {
        content: "5. ";
    }
}

.pressed-button {
    border: 1px solid #057DBC;
    border-radius: 10px;
    background-color: rgba(160, 209, 255, 0.541);
    box-shadow: inset 2px 2px 5px #057DBC;
    color: #057DBC;
    border-color: #057DBC;
    
    div {
        border: 2px solid #057DBC !important;
    }
}