@use "_base.scss" as *;

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin image-setting {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin thin-bottom-border {
    border-bottom: 1px solid $bar-grey;
}

// media queries

@media screen and (min-width: 928px) {
    .card:nth-of-type(1) {
        order: 2;
    }
    .card:nth-of-type(2) {
        order: 1;
    }
    .card:nth-of-type(2) {
        order: 3;
    }
}