@use "./../_base.scss" as *;
@use "./../_layout.scss" as *;
@use "./../_component.scss" as *;


.form-header {
    @include flex-column;
    padding: 0.5rem 0;
    position: relative;
    background-color: $yellow;

    .header-wrapper-top {
        @include flex-row;
        padding: 0 1rem;

        #toggle-options {
            @include main-text;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: 600;
            padding: 0.5rem;
            border: 0;
            background-color: transparent;
        }

    }

    #options-menu {
        @include main-text;
        @include flex-column;
        text-align: center;
        line-height: 1.8;
        display: none;
        height: 100%;
        width: 100%;
        padding: 1rem 0 0;
    }
    
    .header-wrapper-bottom {
        @include flex-column;
        align-items: center;
        justify-content: center;
        margin: 1.5rem 0;

        h1 {
            @include main-text;
            font-weight: 600;
            margin: 0;
        }

        h2 {
            @include lead;
            font-size: 1.2rem;
        }
    }
}